{% extends "base.html" %}
{% block content %}

<!-- HERO SECTION -->
<section class="hero">
    <div class="hero-section">
        <div class="hero-content">
            <h1>Building Data Products that Driver Decisions</h1>
            <p>Senior Business Intelligence Analyst specializign in Python, SQl and interactive 
                analytics applications. 
            </p>
            <div class="her-button">
                <a href="#portfolio" class="btn-primary">
                    View Dashboards
                </a>
            </div>
        </div>
        <div class="hero-image">
            <img src="{{ url_for('static, 'filename='imaes/sales_dashboard.png') }}">
        </div>
    </div>
</section>
<!-- ABOUT SECTION -->
<section id="about">
    <h2>About Me</h2>
    <p>
        I am a Senior BI Analyst with 10+ years of experience building analytics solutions
        acros various sectors such as healthcare, education, and operations
    </p>
    <div class="skills">
        <div class="skill-card">
            <h3>Python</h3>
            <p>Pandas, Numpy, Plotly, Flask</p>
        </div>
        <div class="skill-card">
            <h3>SQL</h3>
            <p>PostgreSQL, AWS Redshift, Oracle, Microsoft SQL</p>
        </div>
        <div class="skill-card">
            <h3>BI Development</h3>
            <p>Dahsboards, Reporting, Analytics Applications</p>
        </div>
    </div>
</section>
<!-- PORTFOLIO SECTION -->
<section id="portfolio">
    <h2>Analytics Portfolio</h2>
    <div class="projects">
        <div class="project-card">
            <img src="{{ url_for('static', filename='images/healthcare_dashbnoard.png' )}}">
            <h3>Healthcare Fraud Analytics</h3>
            <p> Interative dashboard analyzing healthcare claims, provider behavior, and fraud indicators.</p>
            <span>Python</span>
            <span>Plotly Dash</span>
            <span>DuckDB</span>
        </div>
        <div class="project-card">
            <img src="{{ url_for('static', filename='images/sales_dashboard.png') }}">
            <h3>Retail Sales Analytics</h3>
            <p> Sales performance dashboard analyzing trends, sotres, products, and business KPIs.</p>
            <span>SQL</span>
            <span>Python</span>
            <span>Dashboard</span>
        </div>
    </div>
</section>
{% endblock %}