{% extends "base.html" %}
{% block content %}

<!-- HERO SECTION -->
<section class="hero">
    <div class="hero-section">
        <div class="hero-content">
            <h1>Building Data Products that Driver Decisions</h1>
            <p>Senior Business Intelligence Analyst specializign in Python, SQl and interactive 
                analytics applications. 
            </p>
            <div class="her-button">
                <a href="#portfolio" class="btn-primary">
                    View Dashboards
                </a>
            </div>
        </div>
        <div class="hero-image">
            <img src="{{ url_for('static', filename='images/sales_dashboard.png') }}">
        </div>
    </div>
</section>
<!-- ABOUT SECTION -->
<section id="about">
    <h2 class="section-title">About Me</h2>
    <p class="section-description">
        I am a Senior BI Analyst with 10+ years of experience building analytics solutions
        across various sectors such as healthcare, education, and operations.
    </p>
    <div class="stats-container">
        <div class="stat-card">
            <h3>10+</h3>
            <p>Years Analytics Experience</p>
        </div>
        <div class="stat-card">
            <h3>Python</h3>
            <p>Analytics Development</p>
        </div>
        <div class="stat-card">
            <h3>SQL</h3>
            <p>Data Engineering</p>
        </div>
    </div>
</section>
<!-- SKILLS -->
<section id="skills">
    <h2 class="section-title">
        Analytics Stack
    </h2>
    <p class="section-description">
        Technologies and tools I use to build
        data-driven applications and dashboards.
    </p>
    <div class="skills-grid">
        <div class="skill-card">
            <h3>
                Python
            </h3>
            <p>
                Pandas • NumPy • Plotly • Dash
            </p>
        </div>
        <div class="skill-card">
            <h3>
                SQL
            </h3>
            <p>
                PostgreSQL • Redshift • Oracle
            </p>
        </div>
        <div class="skill-card">
            <h3>
                Business Intelligence
            </h3>
            <p>
            Dashboards • KPI Reporting • Analytics
            </p>
        </div>
        <div class="skill-card">
            <h3>
                Data Engineering
            </h3>
            <p>
                ETL • Data Modeling • Automation
            </p>
        </div>
    </div>
</section>
<!-- PORTFOLIO SECTION -->
<section id="portfolio">
    <h2>Analytics Portfolio</h2>
    <div class="projects">
        <div class="project-card">
            <img src="{{ url_for('static', filename='images/healthcare_dashboard.png' )}}">
            <h3>Healthcare Fraud Analytics</h3>
            <p> Interative dashboard analyzing healthcare claims, provider behavior, and fraud indicators.</p>
            <span>Python</span>
            <span>Plotly Dash</span>
            <span>DuckDB</span>
        </div>
        <div class="project-card">
            <img src="{{ url_for('static', filename='images/sales_dashboard.png') }}">
            <h3>Retail Sales Analytics</h3>
            <p> Sales performance dashboard analyzing trends, sotres, products, and business KPIs.</p>
            <span>SQL</span>
            <span>Python</span>
            <span>Dashboard</span>
        </div>
    </div>
</section>
{% endblock %}