{% extends "base.html" %}
{% block content %}

<!-- HERO SECTION -->
<section class="hero">
    <div class="hero-section">
        <div class="hero-content">
            <h1>Building Data Products that Driver Decision. (UNDER CONSTRUCTION)</h1>
            <p>Senior Business Intelligence Analyst specializing in Python, SQl and interactive 
                analytics applications. 
            </p>
            <div class="her-button">
                <a href="#portfolio" class="btn-primary">
                    View Dashboards
                </a>
            </div>
        </div>
        <div class="hero-image">
            <img src="{{ url_for('static', filename='images/sales_dashboard.png') }}">
        </div>
    </div>
</section>
<!-- ABOUT SECTION -->
<section id="about">
    <h2 class="section-title">About Me</h2>
    <p class="section-description">
        I am a Senior BI Analyst with 10+ years of experience building analytics solutions
        across various sectors such as healthcare, education, and operations.
    </p>
    <div class="stats-container">
        <div class="stat-card">
            <h3>10+</h3>
            <p>Years Analytics Experience</p>
        </div>
        <div class="stat-card">
            <h3>Python</h3>
            <p>Analytics Development</p>
        </div>
        <div class="stat-card">
            <h3>SQL</h3>
            <p>Data Engineering</p>
        </div>
    </div>
</section>
<!-- SKILLS -->
<section id="skills">
    <h2 class="section-title">
        Analytics Stack
    </h2>
    <p class="section-description">
        Technologies and tools I use to build
        data-driven applications and dashboards.
    </p>
    <div class="skills-grid">
        <div class="skill-card">
            <h3>
                Python
            </h3>
            <p>
                Pandas • NumPy • Plotly • Dash
            </p>
        </div>
        <div class="skill-card">
            <h3>
                SQL
            </h3>
            <p>
                PostgreSQL • Redshift • Oracle
            </p>
        </div>
        <div class="skill-card">
            <h3>
                Business Intelligence
            </h3>
            <p>
            Dashboards • KPI Reporting • Analytics
            </p>
        </div>
        <div class="skill-card">
            <h3>
                Data Engineering
            </h3>
            <p>
                ETL • Data Modeling • Automation
            </p>
        </div>
    </div>
</section>
<!-- PORTFOLIO SECTION -->
<section id="portfolio">
    <h2 class="section-title">
        Featured Projects
    </h2>
    <p class="section-description">
        Interactive analytics applications
        designed to transform data into
        actionable business insights.
    </p>
    <div class="projects-grid">
    <!-- PROJECT 1 -->
        <div class="project-card">
            <img 
                src="{{ url_for('static',filename='images/healthcare_dashboard.png') }}"
                alt="Healthcare Fraud Dashboard">
            <div class="project-content">
                <h3>
                    Healthcare Fraud Analytics
                </h3>
                <p>
                    Interactive fraud detection dashboard
                    analyzing healthcare claims,
                    providers, and risk indicators.
                </p>
                <div class="tech-stack">
                    <span>Python</span>
                    <span>Plotly Dash</span>
                    <span>DuckDB</span>
                    <span>SQL</span>
                </div>
                <div class="project-links">
                    <a href="#" class="btn-primary">
                        Live Demo
                    </a>
                    <a href="#" class="btn-outline">
                        GitHub
                    </a>
                </div>
            </div>
        </div>
        <!-- PROJECT 2 -->
        <div class="project-card">
            <img 
                src="{{ url_for('static',filename='images/retail_dashboard.png') }}"
                alt="Retail Sales Dashboard">
            <div class="project-content">
                <h3>
                    Retail Sales Analytics
                </h3>
                <p>
                    Executive dashboard analyzing
                    sales performance, products,
                    stores, and business trends.
                </p>
                <div class="tech-stack">
                    <span>Python</span>
                    <span>SQL</span>
                    <span>Plotly</span>
                    <span>Pandas</span>
                </div>
                <div class="project-links">
                    <a href="#" class="btn-primary">
                        Live Demo
                    </a>
                    <a href="#" class="btn-outline">
                        GitHub
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}